<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrickMate"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.AddCompanyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CustomerDetailUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CustomerDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.GoogleSignInActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.PaymentActionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.OrderDetailsUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.OrderByCustomer"
            android:exported="false" />
        <activity
            android:name=".ui.activities.EnquiryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.OrderListDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.OrderListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.OrderSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SelectCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AddressListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AddCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CustomerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ForgotPasswordActivity"
            android:exported="false"
            android:label="" />
        <activity
            android:name=".ui.activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>